/* ==========================================================================
   #BASE-FRAMEWORK
   ========================================================================== */

/**
 * CSS framework code that's handy
 *
 */


.o-flex {
	display: flex;
}

.o-flex--1 {
	flex: 1;
}

.o-flex--2 {
	flex: 2;
}

.o-flex--3 {
	flex: 3;
}

.o-flex--4 {
	flex: 4;
}


.o-flex.centre {
	justify-content: center;
}

.o-flex.right {
	justify-content: flex-end;
}

.o-flex.left {
	justify-content: flex-start;
}



.o-flex-row {
	-webkit-box-orient: horizontal !important;
	-webkit-box-direction: normal !important;
	-ms-flex-direction: row !important;
	flex-direction: row !important;
}

.o-flex-column {
	-webkit-box-orient: vertical !important;
	-webkit-box-direction: normal !important;
	-ms-flex-direction: column !important;
	flex-direction: column !important;
}

.o-flex-row-reverse {
	-webkit-box-orient: horizontal !important;
	-webkit-box-direction: reverse !important;
	-ms-flex-direction: row-reverse !important;
	flex-direction: row-reverse !important;
}

.o-flex-column-reverse {
	-webkit-box-orient: vertical !important;
	-webkit-box-direction: reverse !important;
	-ms-flex-direction: column-reverse !important;
	flex-direction: column-reverse !important;
}

.o-flex-wrap {
	-ms-flex-wrap: wrap !important;
	flex-wrap: wrap !important;
}

.o-flex-nowrap {
	-ms-flex-wrap: nowrap !important;
	flex-wrap: nowrap !important;
}

.o-flex-wrap-reverse {
	-ms-flex-wrap: wrap-reverse !important;
	flex-wrap: wrap-reverse !important;
}

.dib {
	display: inline-block;
}

.db {
	display: block;
}

.dn {
	display: none;
}

.pr {
	position: relative;
}

.pa {
	position: absolute;
}

.h100 {
	height: 100%;
}

.mt3 {
	margin-top: 3rem;
}

// Usually used for testing
.b-black {
	border: 1px solid #000000;
}