//* ========================================================================
//   #LINKS
//   ======================================================================== */

$a--primary-before-after-animate:
	width 100ms ease-in-out,
	height 199ms ease-in-out 350ms;

a {
	text-decoration: none;
	color: $color-link;
	cursor: pointer;

	//phase out this attention() function
	// @include attention() {
	//     text-decoration: underline;
	// }
}

//.link-quiet {
//    color: $color-gray-light;
//    text-decoration: underline;
//
//    @include attention() {
//        color: $color-link;
//    }
//
//}

// if you want to override the default hover and focus of the browsers
// which are inconsistent among browsers, use these 2 classes
// Do something like class="s--primary"

// Button and anchor work a similar way, there is primary and secondary
// hover, focus and active have specific code that can be changed
// Customize as needed

// see the following links for more information:
// https://zellwk.com/blog/design-focus-style/
// https://zellwk.com/blog/style-hover-focus-active-states/
// https://zellwk.com/blog/creating-focus-style/
// https://codepen.io/zellwk/pen/KKPvbag

.link--primary {
	// position: relative;
	// color: $color-link;
	color: $color-primary;
	font-weight: 400;
	// z-index: 600;
	text-decoration: none;
	font-family: arial, helvetica, sans-serif;
	text-decoration: underline;
	// text-decoration: none;
	// border-bottom: 2px solid currentColor;

	//   background: $color-link-bg-hover;
	// transition: color 0.2s linear, background 0.2s linear;

	&:hover,
	&:focus,
	&:active {
		// text-decoration: underline;
		// background-color: $color-link-bg-hover;
		// background-color: $color-link-bg-hover;
		//   background: $color-link-bg-hover;

		// color: $color-link-hover;
		// color: #ffffff;
		// height: 2rem;
	}

	// when using the tab button
	&:focus,
	&:active {
		// outline: 3px dotted $color-link-outline;
		// outline-offset: 2px !important;
		// color: $color-link-focus;
	}

	// &:after {
	// 	content: "";
	// 	width: 100%;
	// 	position: absolute;
	// 	left: 0;
	// 	bottom: -1px;
	// 	height: 0.2rem;
	// 	background: $color-brand;
	// 	// background: -webkit-linear-gradient(to right, #30e8bf, #ff8235);
	// 	// background: linear-gradient(to right, #30e8bf, #ff8235);
	// 	transition: 0.2s;
	// 	transition:
	// 		height 0.4s linear,
	// 		height 0.2s linear;
	// 	z-index: -1;
	// }
}

.link--primary:hover:after {
	height: 1.3rem;
}

// This could be for footer links or the 2nd type of links
// .a--secondary {

// }
