/* ==========================================================================
   #TRUMPS - FRAMEWORK
   ========================================================================== */

.t-db {
	display: block !important;
}

.t-mac {
	margin-left: auto !important;
	margin-right: auto !important;
}

.t-mt-tiny {
	margin-top: $inuit-global-spacing-unit-tiny !important;
}

.t-mt-small {
	margin-top: $inuit-global-spacing-unit-small !important;
}

.t-mt {
	margin-top: $inuit-global-spacing-unit !important;
}

.t-mt-large {
	margin-top: $inuit-global-spacing-unit-large !important;
}

.t-mt-huge {
	margin-top: $inuit-global-spacing-unit-huge !important;
}
